@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --vermelho: #d82727;
  --verde: #0f830f;
  --fundo: #dfc9c9d0;
  --cartao: #f7e9e9b4;
  --texto: #222;
  --subtexto: #444;
  --borda: #c8b3b3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
}

body {
  background-color: var(--fundo);
  color: var(--texto);
}

body {
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--fundo);
  color: var(--texto);
}

h1 {
  font-size: 80px;
  color: #d82727;
}

.bemvindo {
  margin-bottom: 10px;
  color: #0f830f;
  font-size: 40px;
}

.textLogin {
  font-size: 50px;
  color: #d82727;
  margin-bottom: vh;
}

.Main {
  background: var(--cartao);
  padding: 5vh 1em;
  width: 100%;
  max-width: 600px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid var(--borda);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  border-radius: 10px;
  width: 42em;
  height: 2.5em;
  padding: 10px;
}

.button {
  margin-top: 2em;
  border-radius: 10px;
  width: 10vw;
  font-weight: 600;
  transition: all 0.2s;
}

.button:hover {
  margin-top: 2em;
  border-radius: 10px;
  width: 10vw;
  font-weight: 600;
  background-color: var(--verde);
  transform: scale(1.1);
}
