@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

:root {
    --fonte-padrao: 'DynaPuff', system-ui;
    --cor01: #d82727;
    --cor02: #0f830f;
    --cor03: rgb(37, 95, 37);
    --cor04: rgb(155, 12, 12);
    --cor05: #dfc9c9d0;
    --cor06: #f7e9e9;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--fonte-padrao);
    box-sizing: border-box;
}

body {
    background-color: #dfc9c9d0;
}

header {
    text-align: center;
    font-size: 30px;
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header a {
    text-decoration: none;
    color: var(--cor02);
}

.novo {
    transition: 0.5s ease;
}

.novo:hover {
    transform: scale(1.05);
}

.novo {
    display: flex;
    color: var(--cor04);
    border: 3px solid var(--cor03);
    border-radius: 30px;
    width: 230px;
    align-items: center;
    margin: auto;
    height: 150px;
    width: 180px;
}


nav {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 80px;
    padding: 10px 0px;
    background-color: var(--cor01);
    box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
}

nav .forum{
    margin-top: 15px;
    margin-left: 10px;
    padding: 10px;
    text-decoration: none;
    color: var(--cor02);
    transition: ease 0.2s;
}

nav .forum:hover{
    transform: scale(1.1);
}

nav input {
    border-radius: 20px;
    border: 1px solid black;
    margin: auto;
    height: 50%;
    width: 35vw;
    vertical-align: middle;
    padding-left: 5px;
    box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.575);
}

nav img {
    height: 90%;
    background-color: #f7e9e9;
    border-radius: 50%;
    margin-right: 50px;
}

header h1 {
    margin-top: 30px;
    color: var(--cor01);
}

header p {
    color: #0f830f;
}

main {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}


.item {
    background-color: var(--cor06);
    margin: auto;
    width: 90%;
    margin-bottom: 50px;
    height: auto;
    border: 3px solid var(--cor03);
    border-radius: 10px;
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.295);
    padding: 10px;

}

.item h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.item h1:hover {
    text-decoration: underline;
}


.item a {
    text-decoration: none;
    color: var(--cor02);
}

.item a:hover {
    text-decoration: underline;
}

.imagem-e-texto {
    display: flex;
}

.descricao {
    display: block;
    font-size: 20px;
}

.imagem-e-texto img {
    aspect-ratio: 5 / 4;
    margin: 0px 50px 0px 0px;
    width: 200px;
    border-radius: 5px;
}

.descricao img {
    width: 100%;
    max-width: 40px;
    margin-top: 10px;
}
