@charset "UTF-8";

:root {
  --fonte-padrao: "DynaPuff", system-ui;
  --cor01: #d82727;
  --cor02: #0f830f;
  --cor03: rgb(37, 95, 37);
  --cor04: rgb(155, 12, 12);
  --cor05: #dfc9c9d0;
  --cor06: #f7e9e9;
  --borda: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Poppins", sans-serif;
}

body {
  background-color: #dfc9c9d0;
}

header {
  text-align: center;
  font-size: 30px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

nav {
  display: flex;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 70px;
  padding: 10px 0px;
  background-color: #ffffffbd;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 6px 0px rgb(0, 0, 0);
}

nav .logo {
  padding-top: 8px;
  padding-left: 20px;
  font-weight: 500;
  color: var(--cor01);
}

nav > .forum {
  margin-right: 5px;
  padding: 10px;
  font-size: 0.8em;
  text-decoration: none;
  color: var(--cor02);
}

nav > .forum:hover {
  font-size: 0.85em;
  padding: 10px;
  text-decoration: none;
  color: var(--cor02);
}

nav input {
  border: 1px solid var(--borda);
  border-radius: 20px;
  background-color: var(--cor06);
  margin: auto;
  height: 40px;
  width: 40vw;
  vertical-align: middle;
  padding-left: 20px;
}

nav img {
  height: 90%;
  background-color: #f7e9e9;
  border-radius: 50%;
  margin-right: 50px;
}

header h1 {
  margin-top: 30px;
  color: var(--cor01);
}

header p {
  color: #0f830f;
}

main {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.item {
  background-color: var(--cor06);
  margin: auto;
  width: 60vw;
  margin-bottom: 50px;
  height: 50vh;
  border: 3px solid var(--cor03);
  border-radius: 10px;
  box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.295);
  padding: 10px;
}

.item .perfil {
  width: 50px;
}

.item h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.item h1:hover {
  text-decoration: underline;
}

.item h1:active {
  font-size: 29px;
  color: var(--cor04);
}

.item a {
  text-decoration: none;
  color: rgb(52, 52, 209);
}

.item a:hover {
  text-decoration: underline;
}

.imagem-e-texto {
  display: flex;
}

.descricao {
  display: block;
  font-size: 20px;
}

.imagem-e-texto img {
  aspect-ratio: 5 / 4;
  margin: 0px 50px 0px 0px;
  width: 200px;
  border-radius: 5px;
}

.descricao img {
  width: 100%;
  max-width: 40px;
  margin-top: 10px;
}
